html,
body {
	background-color: #131313;
}

.container {
	max-width: 342px;
	margin: 0 auto;
}

.input-style {
	color: black;
	background-color: #fff;
	font-size: 24px;
	line-height: 29px;
	width: 100%;
	padding: 6px 15px;
	border-radius: 15px;
	margin-bottom: 13px;
}

.expenses-app {
	margin: 0 auto;
	max-width: 375px;
	background-color: #131313;
	padding-top: 17px;
	padding-bottom: 17px;
}

.expenses-app__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.expenses-app__block {
	background-color: #3D3D3D;
	padding: 19px 0 19px 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 9px;
	border-radius: 10px;
}

.chapter-title {
	font-size: 24px;
	line-height: 29px;
}

.limit,
.status,
.total-output {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.input-button {
	background: #4EBDD9;
	border-radius: 15px;
	font-size: 24px;
	line-height: 29px;
	width: 100%;
	padding: 6px 0;
	border-radius: 15px;
}

.limit__text,
.status__text,
.total-output__text {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #fff;
}

.expenses-app__logo {
	width: 74px;
	height: 74px;
}

.expenses-app__title {
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	text-transform: uppercase;
}

.expenses-app__history-block {
	height: 250px;
	overflow: scroll;
}

.clear-history-button {
	width: 100%;
	font-size: 24px;
	line-height: 29px;
	background: #ED4040;
	border-radius: 15px;
	padding: 6px 0;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: start;
}


.status {
	color: green;
}

.status_red {
	color: red;
}

.history {
	font-size: 20px;
	line-height: 24px;
	margin-left: 15px;
}